/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #e8d8b9,
    #eccec5,
    #a3e9eb,
    #bdbdf0,
    #eec1ea
  );
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}

#error-wrap {
  top: 40%;
}

#error-wrap .error-content .error-info .error_title {
  margin-top: -3rem !important;
}

#error-wrap .error-content {
  box-shadow: none !important;
  border-radius: 12px;
  background: var(--harris-card-bg) !important;
}

.aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0px;
  position: absolute;
  padding: 20px;
  width: 100%;
  overflow: scroll;
}

.aside-list .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1500px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .aside-list .aside-list-group {
    margin: 0px 17%; //17% 适合最新文章数为5个，10% 适合6个
  }
}

.aside-list .aside-list-item {
  padding: 10px;
}

.aside-list .aside-list-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}
.aside-list .aside-list-item img:hover {
  transform: scale(1.1);
}

.aside-list .aside-list-item .thumbnail {
  overflow: hidden;
  width: 230px;
  height: 143px;
  display: flex;
  background: var(--harris-card-bg);
}

.aside-list .aside-list-item .content .title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: 10px;
  color: var(--harris-fontcolor);
}

.aside-list .aside-list-item .content time {
  display: none;
}

#error-wrap .error-content .error-info a {
  border-radius: 10px;
  overflow: hidden;
}
